.left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "primary-font";
  display: none;
  text-shadow: 3px 2px 5px rgba(4, 3, 3, 0.88);

  .logo {
    width: 30px;
  }
}

@media (min-width: 767px) {
  .left {
    margin-left: 30px;
    display: inherit;

    .logo {
      width: 50px;
      margin-left: 20px;
    }
  }
}
