.wrapper {
  width: 100%;
  background: rgba(170, 173, 187, 0.27);
  transition: ease 0.5s;
  box-shadow: 1px 2px 21px -3px rgba(37, 33, 33, 0.85);
  text-shadow: 3px 2px 5px rgba(4, 3, 3, 0.88);
  background-size: cover;
}

.intro {
  font-size: 22px;
  font-weight: 600;
  text-shadow: 3px 2px 5px rgba(4, 3, 3, 0.88);
}

@media (min-width: 767px) {
  .wrapper {
    width: 600px;
  }

  .intro {
    font-size: 32px;
  }
}
