.wrapper {
  display: flex;
  input {
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    background: transparent;
    color: white;
    outline: 0;
    font-size: 16px;
    &::placeholder {
      color: white;
      font-family: 'primary-font'
    }
  }
}

.searchIcon {
  cursor: pointer;
}

@media (min-width: 767px) {
  .wrapper {
    margin-left: 50px;
    input {
      font-size: 20px;
    }
  }
}