.city {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;

  &:after {
    content: "";
    height: 1px;
    background-color: rgba(255, 255, 255, 0.54);
    display: block;
    width: 90%;
    margin: 10px auto;
  }
}

.intro {
  font-size: 22px;
  font-weight: 600;
  text-shadow: 3px 2px 5px rgba(4, 3, 3, 0.88);
}

.icon {
  color: white;
  font-size: 60px;
}

.mainInfo {
  width: 100%;
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.description {
  font-size: 18px;
  text-align: center;
  &:after {
    content: "";
    height: 1px;
    background-color: rgba(255, 255, 255, 0.54);
    display: block;
    width: 90%;
    margin: 10px auto;
  }
}

.moreInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.details {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}

.icons {
  width: 20px;
  margin-right: 10px;
}

.infoWrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .city {
    font-size: 32px;
  }

  .intro {
    font-size: 32px;
  }

  .icon {
    font-size: 125px;
  }

  .mainInfo {
    width: 100%;
    font-size: 100px;
  }

  .description {
    font-size: 24px;
  }

  .moreInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .details {
    width: 50%;
  }

  .icons {
    width: 30px;
  }
}
