body {
  margin: 0;
  color: white;
  font-family: 'primary-font', Sans-Serif;
  letter-spacing: 0.02em;
}

@font-face {
  font-family: 'primary-font';
  font-style: normal;
  src: url('./assets/fonts/DIN\ Medium\ Regular.ttf');
}
